@font-face {
  font-family: 'Aller2';
  src: url('./fonts/Aller_Rg_2.ttf')
}

body {
  margin: 0;
  font-family: 'Aller2', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  border-radius: 5px;
  background-color: darkgrey;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
